extends layout

block content
    .container
        h1 About Us
        p Nulla et adipiscing praesent, urna risus sodales diam eget id varius. Nullam qui pharetra nunc, vivamus neque sit nec nunc aliquam. Sed tortor vitae, duis arcu. Tincidunt nam placerat laoreet euismod.
        ul
            li Vivamus nec scelerisque
            li Cras efficitur
            li Nam lectus elit
        p Vestibulum officia, orci vitae amet consectetuer, massa maecenas enim ac pellentesque suspendisse in. Lectus congue tellus odio, sit dui sociis lorem odio at, amet adipiscing a litora suscipit, sit amet integer diam tempus nec. Quam eget vehicula feugiat nec lacus, quisque id a id.