extends layout

block content
  .jumbotron
      .container
          h1 How May I Help You?
          p LLorem ipsum dolor sit amet, arcu enim nec hendrerit non, quis hendrerit dui ante interdum phasellus, iaculis nisi neque in. Interdum voluptates metus euismod. Pellentesque et augue pede integer, in nulla mi vitae aenean etiam, vivamus vitae nec, auctor felis sit urna, convallis metus odio lobortis consequat tellus. Proin viverra senectus. Neque arcu in cras massa, condimentum lorem metus placerat minima vitae scelerisque, sed in. Sint arcu viverra velit. Iaculis dui nam vestibulum sed luctus, nulla elit fringilla orci lorem nibh dolor, nec faucibus, etiam commodo non pulvinar.
          a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
  .container
      .row
          .col-md-4
              h2 About Us
              p Vulputate arcu, eu facilisi a vitae sem, etiam pharetra, nunc aliquet sit, dignissim duis tempor metus nec tincidunt ipsum. Vitae cras, libero parturient mi vel orci.
              a.btn.btn-default(href="#") View Details
          .col-md-4
              h2 Services
              p Vulputate arcu, eu facilisi a vitae sem, etiam pharetra, nunc aliquet sit, dignissim duis tempor metus nec tincidunt ipsum. Vitae cras, libero parturient mi vel orci.
              a.btn.btn-default(href="#") View Details
          .col-md-4
              h2 Get In Touch
              p Vulputate arcu, eu facilisi a vitae sem, etiam pharetra, nunc aliquet sit, dignissim duis tempor metus nec tincidunt ipsum. Vitae cras, libero parturient mi vel orci.
              a.btn.btn-default(href="#") View Details